***Question 1 (10 pts)***

1.a) Write the code that creates a string variable. Use the function **type ()** to confirm the data type of the variable. (2.5 pts)<br>

In [22]:
# Write the code here
nameUSSenator="Henry Cabot Lodge Jr."
type(nameUSSenator)

str

1.b) Write the code that creates a numeric variable. Use the function **type ()** to confirm the data type of the variable. (2.5 pts)<br>

In [16]:
# Write the code here
testNum=24
type(testNum)

int

1.c) Write the code that creates a date/time variable. Use the function **type ()** to confirm the data type of the variable. (2.5 pts)<br>

In [19]:
# Write the code here
import datetime
birthdateMakhno=datetime.date(1888,11,8)
type(birthdateMakhno)

datetime.date

1.d) Write the code that creates a boolean variable. Use the function **type ()** to confirm the data type of the variable. (2.5 pts)<br>

In [20]:
# Write the code here
isUkraineFree=True
type(isUkraineFree)

bool

***Question 2 (10 pts)***

Assuming the list of product names:
<br>
<br>
productsName = ["Bush Somerset Collection Bookcase","Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back","Self-Adhesive Address Labels for Typewriters by Universal","Bretford CR4500 Series Slim Rectangular Table","Eldon Fold 'N Roll Cart System","Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood","Newell 322","Mitel 5320 IP Phone VoIP phone"]

In [5]:
productsName = ["Bush Somerset Collection Bookcase","Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back","Self-Adhesive Address Labels for Typewriters by Universal","Bretford CR4500 Series Slim Rectangular Table","Eldon Fold 'N Roll Cart System","Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood","Newell 322","Mitel 5320 IP Phone VoIP phone"]
productsName

['Bush Somerset Collection Bookcase',
 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back',
 'Self-Adhesive Address Labels for Typewriters by Universal',
 'Bretford CR4500 Series Slim Rectangular Table',
 "Eldon Fold 'N Roll Cart System",
 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood',
 'Newell 322',
 'Mitel 5320 IP Phone VoIP phone']

2.a) Write the code that returns the number of products in the list productsName (2.5 pts)
<br>

In [6]:
# Write the code here
count=len(productsName)
count

8

2.b) Write the code that returns the first five products of the list productsName (2.5 pts)
<br>

In [37]:
# Write the code here
productsName[0:5]

['Bush Somerset Collection Bookcase',
 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back',
 'Self-Adhesive Address Labels for Typewriters by Universal',
 "Eldon Fold 'N Roll Cart System",
 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood']

2.c) Write the code that adds the product name "DXL Angle-View Binders with Locking Rings by Samsill" to the list productsName (2.5 pts)
<br>

In [12]:
# Write the code here
productsName.append("DXL Angle-View Binders with Locking Rings by Samsill")
productsName

['Bush Somerset Collection Bookcase',
 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back',
 'Self-Adhesive Address Labels for Typewriters by Universal',
 'Bretford CR4500 Series Slim Rectangular Table',
 "Eldon Fold 'N Roll Cart System",
 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood',
 'Newell 322',
 'Mitel 5320 IP Phone VoIP phone',
 'DXL Angle-View Binders with Locking Rings by Samsill']

2.d) Write the code that removes the product name "Bretford CR4500 Series Slim Rectangular Table" from the list productsName (2.5 pts)
<br>

In [13]:
# Write the code here
productsName.remove("Bretford CR4500 Series Slim Rectangular Table")
productsName

['Bush Somerset Collection Bookcase',
 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back',
 'Self-Adhesive Address Labels for Typewriters by Universal',
 "Eldon Fold 'N Roll Cart System",
 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood',
 'Newell 322',
 'Mitel 5320 IP Phone VoIP phone',
 'DXL Angle-View Binders with Locking Rings by Samsill']

***Question 3 (30 pts)***

Assuming the lists customersTechnologies, customersTechnologies, and customersFurniture containing customers who purchased Office Supplies, technologies, and furniture, respectively
<br>
customersOfficeSupplies = ["Darrin Van Huff", "Sean O'Donnell", "Brosina Hoffman", "Brosina Hoffman", "Brosina Hoffman", "Andrew Allen", "Irene Maddox", "Harold Pawlan", "Harold Pawlan", "Pete Kriz"]
<br>
customersTechnologies = ["Brosina Hoffman","Brosina Hoffman","Zuschuss Donatelli","Eric Hoffmann","Gene Hale","Steve Nguyen","Linda Cazamias","Odella Nelson","Lena Hernandez","Lena Hernandez"]
<br>
customersFurniture=["Claire Gute","Claire Gute","Sean O'Donnell","Brosina Hoffman","Brosina Hoffman","Sandra Flanagan","Emily Burns","Tracy Blumstein","Tracy Blumstein","Gene Hale"]
<br>
<br>

In [23]:
customersOfficeSupplies = ["Darrin Van Huff", "Sean O'Donnell", "Brosina Hoffman", "Brosina Hoffman", "Brosina Hoffman", "Andrew Allen", "Irene Maddox", "Harold Pawlan", "Harold Pawlan", "Pete Kriz"]
customersTechnologies = ["Brosina Hoffman","Brosina Hoffman","Zuschuss Donatelli","Eric Hoffmann","Gene Hale","Steve Nguyen","Linda Cazamias","Odella Nelson","Lena Hernandez","Lena Hernandez"]
customersFurniture=["Claire Gute","Claire Gute","Sean O'Donnell","Brosina Hoffman","Brosina Hoffman","Sandra Flanagan","Emily Burns","Tracy Blumstein","Tracy Blumstein","Gene Hale"]

3.a) Write the code that converts customersOfficeSupplies into a set (2.5 pts), customersTechnologies into a set (2.5 pts), and customersFurniture into a set (2.5 pts)
<br>

In [24]:
# Write the code here
set_customersOfficeSupplies=set(customersOfficeSupplies)
set_customersTechnologies=set(customersTechnologies)
set_customersFurniture=set(customersFurniture)

In [25]:
set_customersOfficeSupplies

{'Andrew Allen',
 'Brosina Hoffman',
 'Darrin Van Huff',
 'Harold Pawlan',
 'Irene Maddox',
 'Pete Kriz',
 "Sean O'Donnell"}

In [27]:
set_customersTechnologies

{'Brosina Hoffman',
 'Eric Hoffmann',
 'Gene Hale',
 'Lena Hernandez',
 'Linda Cazamias',
 'Odella Nelson',
 'Steve Nguyen',
 'Zuschuss Donatelli'}

In [28]:
set_customersFurniture

{'Brosina Hoffman',
 'Claire Gute',
 'Emily Burns',
 'Gene Hale',
 'Sandra Flanagan',
 "Sean O'Donnell",
 'Tracy Blumstein'}

3.b) Write the code that returns the number of unique customers who purchased office supplies (2.5 pts), the number of unique customers who purchased technologies (2.5 pts), and the number of unique customers who purchased furniture (2.5 pts)
<br>

In [32]:
# Write the code here
lu=[]
count=0
for item in customersOfficeSupplies:
    if item not in lu:
        count+=1
        lu.append(item)
count

7

In [35]:
la=[]
count=0
for item in customersTechnologies:
    if item not in la:
        count+=1
        la.append(item)
count

8

In [36]:
ln=[]
count=0
for item in customersFurniture:
    if item not in ln:
        count+=1
        ln.append(item)
count

7

3.c) Write the code that returns the customers who purchased either office supplies or technologies (5 pts)
<br>

In [72]:
# Write the code here
customersBoth=set_customersOfficeSupplies.intersection(customersTechnologies)
print(customersBoth)

{'Brosina Hoffman'}

3.d) Write the code that returns the customers who purchased office supplies, technologies and furniture (5 pts)
<br>

In [74]:
# Write the code here
customersAll=set_customersOfficeSupplies.intersection(customersTechnologies,customersFurniture)
print(customersAll)

{'Brosina Hoffman'}

3.e) Write the code that returns the customers who purchased office supplies, but did not purchase technologies (5 pts)

In [75]:
# Write the code here
customersFurnBoth=set_customersOfficeSupplies.intersection(customersFurniture)
print(customersFurnBoth)

{'Brosina Hoffman', "Sean O'Donnell"}

***Question 4 (20 pts)***

4.a) What is the purpose of the code below? Explain based on the values that will be displayed (5 pts)

In [ ]:
customersOfficeSupplies = ["Darrin Van Huff", "Sean O'Donnell", "Brosina Hoffman", "Brosina Hoffman", "Brosina Hoffman", "Andrew Allen", "Irene Maddox", "Harold Pawlan", "Harold Pawlan", "Pete Kriz"]
for customer in customersOfficeSupplies:
    if customer.startswith("B"):
        print(customer)

In [ ]:
# Write response here
The purpose of the code is to display the names that start with B in the list only.

4.b) What is the purpose of the code below? Explain based on the values that will be displayed (5 pts)

In [ ]:
customersOfficeSupplies = ["Darrin Van Huff", "Sean O'Donnell", "Brosina Hoffman", "Brosina Hoffman", "Brosina Hoffman", "Andrew Allen", "Irene Maddox", "Harold Pawlan", "Harold Pawlan", "Pete Kriz"]
for customer in customersOfficeSupplies:
    print(customer.split(" ")[0])

In [ ]:
# Write response here
The purpose is to split the names in the list into only showing thier first names.

4.c) What is the purpose of the code below? Explain based on the values that will be displayed (5 pts)

In [ ]:
customersOfficeSupplies = ["Darrin Van Huff", "Sean O'Donnell", "Brosina Hoffman", "Brosina Hoffman", "Brosina Hoffman", "Andrew Allen", "Irene Maddox", "Harold Pawlan", "Harold Pawlan", "Pete Kriz"]
for customer in set(customersOfficeSupplies):
    print(customer + ":  " + str(customersOfficeSupplies.count(customer)))

In [ ]:
# Write response here
The purpose is to list the names and how many times the names appear in the list.

4.d) Your colleague would like to create a dictionary containing the name of each customer as Key and the number of times the customer purchased office supply, technology, or furniture as Value. Complete the code below (5 pts)
<br>
<br>
The output should be:
<br>
{'Eric Hoffmann': 1,
 'Harold Pawlan': 2,
 "Sean O'Donnell": 2,
 'Steve Nguyen': 1,
 'Gene Hale': 2,
 'Odella Nelson': 1,
 'Emily Burns': 1,
 'Linda Cazamias': 1,
 'Zuschuss Donatelli': 1,
 'Sandra Flanagan': 1,
 'Pete Kriz': 1,
 'Brosina Hoffman': 7,
 'Lena Hernandez': 2,
 'Claire Gute': 2,
 'Andrew Allen': 1,
 'Tracy Blumstein': 2,
 'Irene Maddox': 1,
 'Darrin Van Huff': 1}

In [107]:
customersOfficeSupplies = ["Darrin Van Huff", "Sean O'Donnell", "Brosina Hoffman", "Brosina Hoffman", "Brosina Hoffman", "Andrew Allen", "Irene Maddox", "Harold Pawlan", "Harold Pawlan", "Pete Kriz"]
customersTechnologies = ["Brosina Hoffman","Brosina Hoffman","Zuschuss Donatelli","Eric Hoffmann","Gene Hale","Steve Nguyen","Linda Cazamias","Odella Nelson","Lena Hernandez","Lena Hernandez"]
customersFurniture=["Claire Gute","Claire Gute","Sean O'Donnell","Brosina Hoffman","Brosina Hoffman","Sandra Flanagan","Emily Burns","Tracy Blumstein","Tracy Blumstein","Gene Hale"]
customers = customersOfficeSupplies + customersTechnologies + customersFurniture
customersDict = {}
for uniqueCustomer in set(customers):
    # Add the code here

IndentationError: expected an indented block (<ipython-input-107-7d7f56e1436d>, line 7)

***Question 5 (45 pts)***

5.a) After downloading the CSV file on your computer, update the path and write the code to display the first 5 rows of the data (5 pts)

In [39]:
import pandas as pd
path = r'Sample - Superstore_Orders.csv'
superStoreData = pd.read_csv(path)

In [41]:
# Write the code here
superStoreData.loc[0:4]

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State,Sub-Category,Discount,Profit,Quantity,Sales
0,Furniture,Henderson,United States,Claire Gute,Bush,11/8/2019,CA-2019-152156,42420.0,Bush Somerset Collection Bookcase,South,Consumer,11/11/2019,Second Class,Kentucky,Bookcases,0.00,41.9136,2,261.9600
1,Furniture,Henderson,United States,Claire Gute,Hon,11/8/2019,CA-2019-152156,42420.0,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",South,Consumer,11/11/2019,Second Class,Kentucky,Chairs,0.00,219.5820,3,731.9400
2,Office Supplies,Los Angeles,United States,Darrin Van Huff,Universal,6/12/2019,CA-2019-138688,90036.0,Self-Adhesive Address Labels for Typewriters b...,West,Corporate,6/16/2019,Second Class,California,Labels,0.00,6.8714,2,14.6200
3,Furniture,Fort Lauderdale,United States,Sean O'Donnell,Bretford,10/11/2018,US-2018-108966,33311.0,Bretford CR4500 Series Slim Rectangular Table,South,Consumer,10/18/2018,Standard Class,Florida,Tables,0.45,-383.0310,5,957.5775
4,Office Supplies,Fort Lauderdale,United States,Sean O'Donnell,Eldon,10/11/2018,US-2018-108966,33311.0,Eldon Fold 'N Roll Cart System,South,Consumer,10/18/2018,Standard Class,Florida,Storage,0.20,2.5164,2,22.3680

5.b) Below is the code that creates a Numpy array containing the list of Order ID from superStoreData. Create the code that returns three Numpy arrays. The first one containing the list of City, the second one containing the list of Order Date, the third one containing the list of Sales. (7.5 pts)

import numpy as np<br>
superStoreOrderIds = np.array(superStoreData["Order ID"])<br>
superStoreOrderIds

In [94]:
# Write the code here
import numpy as np
superStoreOrderids=np.array(superStoreData["Order ID"])
superStoreCityNames=np.array(superStoreData["City"])
superStoreOrdersDate=np.array(superStoreData["Order Date"])
superStoreSales=np.array(superStoreData["Sales"])

In [53]:
superStoreCityNames

array(['Henderson', 'Henderson', 'Los Angeles', ..., 'Costa Mesa',
       'Costa Mesa', 'Westminster'], dtype=object)

In [54]:
superStoreOrdersDate

array(['11/8/2019', '11/8/2019', '6/12/2019', ..., '2/26/2020',
       '2/26/2020', '5/4/2020'], dtype=object)

In [55]:
superStoreSales

array([261.96 , 731.94 ,  14.62 , ..., 258.576,  29.6  , 243.16 ])

5.c) Write the code that changes the data type of the Numpy array containing Order Date to datetime64 (5 pts)

In [63]:
# Write the code here
superStoreOrderDate=["Order Date"]
superStoreOrderDate_arr=np.array(superStoreOrderDate, dtype=np.datetime64)
superStoreOrderDate_arr.dtype

ValueError: Cannot create a NumPy datetime other than NaT with generic units

5.d) Below is the code that returns the customers who purchased "Tables". Write the code that returns the Order IDs made in 2019 (5 pts), the Order IDs made in the state of California (5 pts), and the Order IDs made in the state of California in 2019 (5 pts)


import numpy as np<br>
superStoreCustomersNames = np.array(superStoreData["Customer Name"])<br>
superStoreAllSubCategories = np.array(superStoreData["Sub-Category"])<br>
superStoreCustomersNames[(superStoreAllSubCategories == "Tables")]<br>

In [98]:
# Write the code here
import numpy as np
superStoreOrderid=np.array(superStoreData["Order ID"])
superStoreStateSub=np.array(superStoreData["State"])
superStoreOrderid[(superStoreStateSub=="California")]

array(['CA-2019-138688', 'CA-2017-115812', 'CA-2017-115812', ...,
       'CA-2020-121258', 'CA-2020-121258', 'CA-2020-119914'], dtype=object)

In [102]:
import numpy as np
superStoreOrder=np.array(superStoreData["Order ID"])
superStoreDateSub=np.array(superStoreData["Order Date"])
superStoreOrder[(superStoreDateSub == 2019)]

array([], dtype=object)

In [106]:
import numpy as np
superStoreOrder=np.array(superStoreData["Order ID"])
superStoreDateSub=np.array(superStoreData["Order Date"])
superStoreStateSub=np.array(superStoreData["State"])
superStoreOrder[]

array([], dtype=object)

5.e) Write the code that lists the Order Ids that are profitable (i.e., Profit above 0) (2.5 pts)

In [103]:
# Write the code here
superStoreOrdersid > 0

NameError: name 'superStoreOrdersid' is not defined

5.f) Write the code that returns the correlation matrix (5 pts), and some descriptive statistics (5 pts).

<br>
For the descriptive statistics, you should use the function describe()

In [64]:
# Write the code here
superStoreData.corr()

             Postal Code  Discount    Profit  Quantity     Sales
Postal Code     1.000000  0.057243 -0.028751  0.013376 -0.022346
Discount        0.057243  1.000000 -0.219487  0.008623 -0.028190
Profit         -0.028751 -0.219487  1.000000  0.066253  0.479064
Quantity        0.013376  0.008623  0.066253  1.000000  0.200795
Sales          -0.022346 -0.028190  0.479064  0.200795  1.000000

In [65]:
superStoreData.describe()

        Postal Code     Discount       Profit     Quantity         Sales
count   9983.000000  9994.000000  9994.000000  9994.000000   9994.000000
mean   55245.233297     0.156203    28.656896     3.789574    229.858001
std    32038.715955     0.206452   234.260108     2.225110    623.245101
min     1040.000000     0.000000 -6599.978000     1.000000      0.444000
25%    23223.000000     0.000000     1.728750     2.000000     17.280000
50%    57103.000000     0.200000     8.666500     3.000000     54.490000
75%    90008.000000     0.200000    29.364000     5.000000    209.940000
max    99301.000000     0.800000  8399.976000    14.000000  22638.480000